/*header styles*/
#quizTitle {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
    background-color: powderblue;
    margin: 0;
}
.sub-header {
    background-color: lightskyblue;
    padding-top: 10px;
    padding-bottom: 10px;
}
.timer-out {
    float:right;
    padding-right: 50px;
    color: red;
}
.highscores {
    padding-left: 50px;
}


/* button styles */
.btn-style {
    background-color: blue; 
    color: white ;
}
.btn-style:hover {
    background-color: lightblue;
}
.btn-style.correct {
    background-color: limegreen;
}
.btn-style.wrong {
    background-color: red;
}
/* buttons layout */
.btn-grid{
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

/*main container styles */
.container-style {
    margin-top: 100px;
    width: 800px;
    max-width: 80%;
    padding:10px;
    background-color: lavender;
    border-radius:5px;
}
/* question output styles */
#question {
    padding: 10px 0 20px 30px;
}


.hide{
    display:none;
}

#result {
    float: right;
    padding-right: 50px;
}

/* highscores styles*/
.scores-h2,
.finText {
    text-align: center;
}