.timer-out {
    float:right;
    padding-right: 50px;
    color: red;
}
.highscores {
    padding-left: 50px;
}
.sub-header {
    background-color: lightskyblue;
    padding-top: 10px;
    padding-bottom: 10px;
}
#quizTitle {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
    background-color: powderblue;
    margin: 0;
}
.btn-style,
.start-btn {
    background-color: blue ; 
    color: white ;
}
.btn-style:hover {
    background-color: lightblue;
}


.container-style {
    margin-top: 100px;
    width: 800px;
    max-width: 80%;
    padding:10px;
    background-color: lavender;
    border-radius:5px;
}
#question {
    padding: 10px 0 20px 50px;

}
.btn-grid{
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

.hide{
    display:none;
}
